# Default ignored files
/shelf/
/workspace.xml
# Datasource local storage ignored files
/../../../../:\OrderSystem\ordering-system\.idea/dataSources/
/dataSources.local.xml
# Editor-based HTTP Client requests
/httpRequests/
